version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3007:3007"
    networks:
      - my_network

networks:
  my_network:
    driver: bridge
